.main-header {
  padding-top: 62px;
  padding-bottom: 62px;
  text-align: center;
  background: url('../../vendor/image/header_bg.jpg') no-repeat center 20%;
  background-size: cover;
  .branding {
    font-size: 3.5em;
    color: #303030;
    .branding {
      img {
        max-width: 100%;
      }
    }
    .text-hide {
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }
  }
}