.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
  .post-head {
    text-align: center;
    .post-title {
      margin: 0;
      font-size: 2.5em;
      line-height: 1em;
    }
    .post-meta {
      color: #959595;
      margin: 14px 0 0px;
      span {
        margin: 0px 7px;
        white-space: nowrap;
      }
    }
  }
  .post-content {
    margin: 30px 0;
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    p {
      margin-top: 0;
      margin-bottom: 1.46em;
    }
  }
}