.sidebar {
  .widget {
    background: #ffffff;
    padding: 21px 30px;
    margin-bottom: 35px;
    .title {
      margin-top: 0;
      padding-bottom: 7px;
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 21px;
      position: relative;
      &:after {
        content: "";
        width: 90px;
        height: 1px;
        background: #e67e22;
        position: absolute;
        left: 0;
        bottom: -1px;
      }
    }
    h4 {
      font-size: 1.5em;
    }
    .content {
      margin: 0 0 10px;
    }
    .tag-cloud {
      a {
        border: 1px solid #ebebeb;
        padding: 2px 7px;
        color: #959595;
        line-height: 1.5em;
        display: inline-block;
        margin: 0 7px 7px 0;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &:hover {
          border: 1px solid #e67e22;
        }
      }
    }
  }
}