.copyright {
  position: fixed;
  width: 100%;
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
  span {
    margin: 0 .5em;
    &.entry {
      a {
        color: #e67e22;
      }
    }
  }
  a {
    color: #555555;
  }
}